# Entornos virtuales
venv/
env/

# Base de datos local
db.sqlite3

# Archivos de caché de Python
*.pyc
__pycache__/

# Variables de entorno
.env

# TOkens y credenciales de acceso
gmail_credentials.json
gmail_token.json